@import "../../../sass/mixin.scss";
@import "../../../sass/variables.scss";

@keyframes leftnav-translate {
  0% {
    transform: translate(-150%, -50%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.left-nav {
  width: 12%;
  height: 100vh;
  position: fixed;
  z-index: 4000;
  @include respond(tabPort) {
    width: 0%;
    display: none;
  }

  &__profile {
    position: absolute;
    top: 8rem;
    left: 6.5rem;
    @include respond(tabLand) {
      opacity: 0;
    }
  }
  &__link-box {
    position: absolute;
    top: 50%;
    left: 7rem;
    transform: translate(-150%, -50%);
    opacity: 0;
    animation-name: leftnav-translate;
    animation-duration: 0.8s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    text-align: center;
    width: 2rem;
    list-style: none;
    &--item {
      display: block;
      height: 4rem;
      width: 100%;
      &-link {
        position: relative;
        height: 100%;
        display: block;
        & span {
          display: block;
          position: absolute;
          width: 2rem;
          height: 1.6px;
          top: 50%;
          background-color: #fff;
          transition: all 1s;
          color: #fff;
          outline: none;
        }
        &:hover span {
          width: 4rem;
          background-color: $color-primary;
        }
      }
    }
  }
}

.active a span {
  width: 4rem;
  background-color: $color-primary;
}
