@keyframes leftnav-translate {
  0% {
    transform: translate(-150%, -50%);
    opacity: 0; }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1; } }

.left-nav {
  width: 12%;
  height: 100vh;
  position: fixed;
  z-index: 4000; }
  @media only screen and (max-width: 900px) {
    .left-nav {
      width: 0%;
      display: none; } }
  .left-nav__profile {
    position: absolute;
    top: 8rem;
    left: 6.5rem; }
    @media only screen and (max-width: 1200px) {
      .left-nav__profile {
        opacity: 0; } }
  .left-nav__link-box {
    position: absolute;
    top: 50%;
    left: 7rem;
    transform: translate(-150%, -50%);
    opacity: 0;
    animation-name: leftnav-translate;
    animation-duration: 0.8s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    text-align: center;
    width: 2rem;
    list-style: none; }
    .left-nav__link-box--item {
      display: block;
      height: 4rem;
      width: 100%; }
      .left-nav__link-box--item-link {
        position: relative;
        height: 100%;
        display: block; }
        .left-nav__link-box--item-link span {
          display: block;
          position: absolute;
          width: 2rem;
          height: 0.2rem;
          top: 50%;
          background-color: #fff;
          transition: all 1s;
          color: #fff;
          outline: none; }
        .left-nav__link-box--item-link:hover span {
          width: 4rem;
          background-color: #606c7a; }
        .left-nav__link-box--item-link:focus, .left-nav__link-box--item-link:active {
          outline: none; }

.active a span {
  width: 4rem;
  background-color: #606c7a; }
