.left-nav {
    width: 12%;
    height: 100vh;
    position: fixed;

    &__profile {
        position: absolute;
        top: 12%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__link-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 2rem;
        list-style: none;
        &--item {
            display: block;
            height: 4rem;
            width: 100%;

            &-link{
                position: relative;
                height: 100%;
                display: block;

                & span {
                    display: block;
                    position: absolute;
                    width: 2rem;
                    height: 0.32rem;
                    top: 50%;
                    background-color: #fff;
                    transition:all 1s; 
                    color: #fff;
                }

                &:hover span, &:focus span{
                    width: 4rem;
                    background-color: red;
                }
            }
        }
    }
}


.active a span {
    width: 4rem;
    background-color: red;
}