@import '../../sass/variables.scss';

.portfolio {
  background: $background-primary;
  overflow: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.home {
  width: 100vw;
}

.box {
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.bar {
  height: 100vh;
  width: 0.1rem;
  background-color: $color-white;
  opacity: 0.035;
}
