.portfolio {
    // background-image: linear-gradient(to right bottom, #201b3f, #1e1e4e);
    background-image: linear-gradient(to right bottom, #160446, #00305e);
    position: fixed;
    overflow: hidden;
}

.home {
    width: 100vw;
}