.portfolio {
  background: #161f2b;
  overflow: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; }

.home {
  width: 100vw; }

.box {
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly; }

.bar {
  height: 100vh;
  width: 0.1rem;
  background-color: #FFF;
  opacity: 0.035; }
  @media only screen and (max-width: 1200px) {
    .bar:nth-of-type(1) {
      display: none; } }
  @media only screen and (max-width: 900px) {
    .bar:nth-of-type(2) {
      display: none; } }
  @media only screen and (max-width: 600px) {
    .bar:nth-of-type(3) {
      display: none; } }
