.fp-viewing-projects-0 #p1-info {
  transform: translate(50%, -50%);
  opacity: 1; }

.fp-viewing-projects-0 #p1-thumbnail {
  transform: translate(-50%, -50%);
  opacity: 1; }

.fp-viewing-projects-0 #p1-link {
  transform: translate(-50%, -50%);
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%); }

.fp-viewing-projects-1 #p2-info {
  transform: translate(50%, -50%);
  opacity: 1; }

.fp-viewing-projects-1 #p2-thumbnail {
  transform: translate(-50%, -50%);
  opacity: 1; }

.fp-viewing-projects-1 #p2-link {
  transform: translate(-50%, -50%);
  opacity: 1; }

.fp-viewing-projects-0 .fade {
  opacity: 1; }

.fp-viewing-projects-1 .fade {
  opacity: 1; }

.fp-viewing-projects-2 #p3-info {
  transform: translate(50%, -50%);
  opacity: 1; }

.fp-viewing-projects-2 #p3-thumbnail {
  transform: translate(-50%, -50%);
  opacity: 1; }

.fp-viewing-projects-2 #p3-link {
  transform: translate(-50%, -50%);
  opacity: 1; }

.fp-viewing-projects-3 #p4-info {
  transform: translate(50%, -50%);
  opacity: 1;
  -webkit-transform: translate(50%, -50%);
  -moz-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%); }

.fp-viewing-projects-3 #p4-thumbnail {
  transform: translate(-50%, -50%);
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%); }

.fp-viewing-projects-3 #p4-link {
  transform: translate(-50%, -50%);
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%); }

.fp-viewing-projects-2 .fade {
  opacity: 1; }

.fp-viewing-projects-3 .fade {
  opacity: 1; }
