@import '../../sass/mixin.scss';

///////////////////////////////
//animations
@keyframes arrow-bounce {
    0% {
        transform: translate(0,-50%);
        -webkit-transform: translate(0,-50%);
        -moz-transform: translate(0,-50%);
        -ms-transform: translate(0,-50%);
        -o-transform: translate(0,-50%);
}
    50% {
        transform: translate(0.6rem,-50%);
        -webkit-transform: translate(0.6rem,-50%);
        -moz-transform: translate(0.6rem,-50%);
        -ms-transform: translate(0.6rem,-50%);
        -o-transform: translate(0.6rem,-50%);
}
    100% {
        transform: translate(0,-50%);
        -webkit-transform: translate(0,-50%);
        -moz-transform: translate(0,-50%);
        -ms-transform: translate(0,-50%);
        -o-transform: translate(0,-50%);
    }
}
@keyframes arrow-bounce-reverse {
    0% {
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
}
    50% {
        transform: translate(-.6rem, -50%);
        -webkit-transform: translate(-.6rem, -50%);
        -moz-transform: translate(-.6rem, -50%);
        -ms-transform: translate(-.6rem, -50%);
        -o-transform: translate(-.6rem, -50%);
}
    100% {
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
    }
}

@keyframes translate-backdrop {
    0% {
        transform: translateY(100%)    ;
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%)    ;
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }
}

//position - top - fix
.projects-list {
    .fullpage-wrapper{
        top: 0 !important;
        transform: translate3d(0px, 0px, 0px);
    }
}

//css
.backdrop {
    background-color: blue;
    position: fixed;
    width: 100%;
    height: 80vh;
    z-index: 1000;
    animation-name: translate-backdrop;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out
}

.fp-tableCell {
    position: relative;
}

.project {
    position: absolute;
    top: 38%;
    left: 50%;
    width: 95rem;
    height: 35rem;
    transform: translate(-50%, -50%);
    z-index: 100;
    margin: 0 auto;
    @include respond(tabPort) {
        width: 80rem;
        height: 47rem;
    }
    @include respond(phone) {
        width: 100%;
        height: 35%;
    }

    &__thumbnail {
        width: 80rem;
        height: 35rem;
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -30%);
        -webkit-transform: translate(-50%, -30%);
        -moz-transform: translate(-50%, -30%);
        -ms-transform: translate(-50%, -30%);
        -o-transform: translate(-50%, -30%);
        box-shadow: 0 0.5rem 4rem rgba(#000, 0.3);
        opacity: 0;
        overflow: hidden;
        transition: transform .8s ease 0.8s, opacity 0.8s ease-in-out 0.8s;
        -webkit-transition: transform .8s ease 0.8s, opacity 0.8s ease-in-out 0.8s;
        -moz-transition: transform .8s ease 0.8s, opacity 0.8s ease-in-out 0.8s;
        -ms-transition: transform .8s ease 0.8s, opacity 0.8s ease-in-out 0.8s;
        -o-transition: transform .8s ease 0.8s, opacity 0.8s ease-in-out 0.8s;

        @include respond(tabPort) {
            left: 50%;
        }

        @include respond(phone) {
            width: 100%;
            height: 70%;
        }

    }
    &__info {
        position: absolute;
        width: 30rem;
        height: 12rem;
        right: 15rem;
        top: 50%;
        background-color: #fff;
        margin-bottom: 3rem;
        color: #000;
        text-align: center;
        box-shadow: 0 0.5rem 4rem rgba(#000, 0.3);
        opacity: 0;
        transform: translate(0, 0);
        transition: transform 0.8s ease 0.8s, opacity 0.8s ease-in-out 0.8s;
        z-index: 1;
        @include respond(tabPort) {
            width: 80rem;
            right: 50%;
            top: 100%;
        }
        @include respond(phone) {
            width: 100%;
            right:50%;
        }
    }


    &__link {
        position: absolute;
        border: 2px solid #fff;
        bottom: 16%;
        left: 50%;
        transform: translate(-50%,30%);
        -webkit-transform: translate(-50%,30%);
        -moz-transform: translate(-50%,30%);
        -ms-transform: translate(-50%,30%);
        -o-transform: translate(-50%,30%);
        padding: 0rem 4.8rem 0 1.8rem;
        opacity: 0;
        transition: transform 0.8s ease 0.8s, opacity 0.8s ease 1.2s;
        -webkit-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 1.2s;
        -moz-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 1.2s;
        -ms-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 1.2s;
        -o-transition: transform 0.8s ease 0.8s, opacity 0.8s ease 1.2s;
        & a {
            position: relative;
            color: #fff;
            text-decoration: none;

            & .icon-link {
                position: absolute;
                top: 50%;
                fill: #fff;
                height: 3rem;
                width: 3rem;
                vertical-align: middle;
                margin-left: 1rem;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
            }

            &:hover .icon-link {
                animation: arrow-bounce infinite;
                animation-duration: 0.6s;
                animation-timing-function: cubic-bezier(0.16, 0.68, 0.43, 0.99);
            }
        }
        
    }
}

.fade {
    opacity: 0.5;
    transition: opacity 0.8s cubic-bezier(0.17, 0.67, 0.83, 0.67) ;
}