///////////////////////////////
//animations
@keyframes arrow-bounce {
  0% {
    transform: translate(0, -50%);
  }
  50% {
    transform: translate(0.6rem, -50%);
  }
  100% {
    transform: translate(0, -50%);
  }
}
@keyframes arrow-bounce-reverse {
  0% {
    transform: translate(0, -50%);
  }
  50% {
    transform: translate(-0.6rem, -50%);
  }
  100% {
    transform: translate(0, -50%);
  }
}

@keyframes translate-backdrop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

/////////////////////////////////////
// nav animations
@keyframes background-scale {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(80);
  }
}

@keyframes translate-nav {
  0% {
      left: 0%;
      visibility: visible;
      opacity: 0.2;
  }
  100% {
      left: 50%;
      visibility: visible;
      opacity: 1;
  }
}