///////////////////////////////////////////////
// variables
$font-primary: 9rem;
$font-secondary: 4rem;
$base-font: 1.8rem;

// colors
$color-white: #FFF;
$color-primary: #4e5763;
$background-primary: #1a232e;
$background-secondary: #2C3A47;