///////////////////////////////////////////////
// variables
$font-primary: 6rem;
$font-secondary: 4rem;
$base-font: 1.8rem;

// colors
$color-white: #ececec;
$color-primary: #606c7a;
$background-primary: #161f2b;
$background-secondary: #2C3A47;