///////////////////////////////////////////////
// variables
$font-primary: 6rem;
$font-secondary: 4rem;
$base-font: 1.8rem;

// colors
$color-white: #dadada;
$color-primary: #394d63;
$background-primary: #181b29;
$background-secondary: #253544;
