.right-nav {
    width: 7rem; 
    position: fixed;
    height: 30rem;
    top: 50%;
    right: 4.1%;
    transform: translateY(-50%);
}

.social {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
        &--item {
            display: block;
        
            &:hover {
                animation: bounce-icon infinite;
                animation-duration: 0.4s;
            }

        }
    &__icon {
        width: 3rem;
        height: 3rem;
        margin: 1.5rem 0;
        cursor: pointer;
        fill: #fff;
        stroke-width: 0;
    }
}

@keyframes bounce-icon {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-4px);
    }
    100% {
        transform: translateY(0px);
    }
}