#scene {
  height: 100vh;
  width: 100vw;
  position: fixed !important;
  top: 0%;
  left: 0%;
  opacity: 0;
  animation-name: scene-opacity;
  animation-delay: 0.8s;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards; }
  #scene ::selection {
    background-color: transparent; }

#g1 {
  position: absolute !important;
  height: 50%;
  width: 50%;
  top: 8% !important; }

#g2 {
  position: absolute !important;
  height: 60%;
  width: 60%;
  top: 20% !important; }
  @media only screen and (max-width: 900px) {
    #g2 {
      top: 55% !important; } }

#name {
  position: absolute !important;
  height: 42%;
  width: 42%;
  top: 20% !important;
  left: 50% !important;
  opacity: 0.65; }
  @media only screen and (max-width: 900px) {
    #name {
      top: 35% !important;
      left: 53% !important; } }

@keyframes scene-opacity {
  0% {
    opacity: 0; }
  50% {
    opacity: .4; }
  100% {
    opacity: 1; } }
