@import "../../../sass/mixin.scss";

.project {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 58vw;
  height: 55vh;
  transform: translate(-50%, -50%);

  @include respond(tabLand) {
    width: 70vw;
  }
  @include respond(tabPort) {
    width: 70vw;
    height: 45vh;
  }
  @include respond(phone) {
    top: 45%;
    width: 100%;
    height: 38vh;
  }

  &__thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 8rem;
    right: 8rem;
    transform: translate(0, 60px);
    opacity: 0;
    transition: all 0.7s ease-in-out 0.8s;

    @include respond(phone) {
      width: 100%;
      height: 70%;
    }

    &__image {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
      box-shadow: 0 0.3rem 2rem rgba(#000, 0.05);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 30rem;
    height: 22rem;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 2rem 5.5rem;
    color: #000;
    text-align: center;
    box-shadow: 0 0.3rem 2rem rgba(#000, 0.05);
    transform: translateY(40px);
    opacity: 0;
    transition: all 0.7s ease-in-out 0.8s;

    @include respond(tabPort) {
      width: 28rem;
      padding: 2rem 5rem;
    }

    @include respond(phone) {
      flex-direction: row;
      align-items: center;
      height: 30%;
      width: 100%;
      padding: 1rem 3rem;
    }

    &__header {
      &--primary {
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: 8px;
        @include respond(phone) {
          display: none;
        }
      }

      &--secondary {
        font-size: 3rem;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 3rem;
      }
    }

    &__link {
      display: inline-block;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 3rem;
      margin-bottom: 0.8rem;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1.2px;
      color: #000;

      &__bottom {
        width: 10px;
        height: 1.4px;
        background: #000;
        opacity: 0;
        transition: all 0.2s linear;
        transform-origin: left;
      }

      &:hover &__bottom {
        width: 100%;
        opacity: 1;
      }

      @include respond(phone) {
        margin-bottom: 0;
      }
    }
  }
}
