.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4000; }
  .bottom-nav__list {
    list-style: none; }
    .bottom-nav__list__item {
      display: inline-block;
      margin: 2rem 3rem; }
      @media only screen and (max-width: 900px) {
        .bottom-nav__list__item {
          margin: 2rem 2rem; } }
      @media only screen and (max-width: 600px) {
        .bottom-nav__list__item {
          margin: 2rem 1rem; } }
      .bottom-nav__list__item:first-of-type {
        margin-left: 0; }
      .bottom-nav__list__item:last-of-type {
        margin-right: 0; }
      .bottom-nav__list__item__link:link, .bottom-nav__list__item__link:visited {
        color: #fff;
        text-decoration: none; }

.active .bottom-nav__list__item__link {
  color: #000; }

.fp-controlArrow {
  top: 100% !important;
  margin-top: -6.5rem !important; }
  .fp-controlArrow.fp-prev {
    border: none;
    width: 4rem !important;
    height: 4rem !important;
    margin-right: 0 !important;
    background-image: url(../../assets/svg/SVG/chevron-left.svg);
    background-repeat: no-repeat;
    background-size: cover;
    left: 4rem !important; }
  .fp-controlArrow.fp-next {
    border: none;
    width: 4rem !important;
    height: 4rem !important;
    margin-left: 0 !important;
    background-image: url(../../assets/svg/SVG/chevron-right.svg);
    background-repeat: no-repeat;
    background-size: cover;
    right: 4rem !important; }
