.right-nav {
  width: 7rem;
  position: fixed;
  height: 30rem;
  top: 50%;
  right: 6rem;
  transform: translateY(-50%); }
  @media only screen and (max-width: 900px) {
    .right-nav {
      top: 93%;
      left: 50%;
      transform: translateX(-50%);
      width: 40rem;
      height: 7rem; } }

.social {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, -50%);
  text-align: center;
  opacity: 0;
  animation-name: social-translate;
  animation-duration: 0.8s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; }
  .social--item {
    display: block; }
    .social--item:hover {
      animation-name: bounce-icon;
      animation-duration: 0.4s; }
    .social--item:focus, .social--item:active {
      outline: none; }
    @media only screen and (max-width: 900px) {
      .social--item {
        display: inline-block; } }
  .social__icon {
    width: 2.5rem;
    height: 2.5rem;
    margin: 1.5rem 0;
    cursor: pointer;
    fill: #fff;
    stroke-width: 0; }
    @media only screen and (max-width: 900px) {
      .social__icon {
        margin: 0 2rem; } }

@keyframes bounce-icon {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-4px); }
  100% {
    transform: translateY(0px); } }

@keyframes social-translate {
  0% {
    transform: translate(50%, -50%);
    opacity: 0; }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1; } }
