.main {
    position: fixed;
    width:76%;
    margin: 0 auto;
    
    //////////////////////////////////////
    // home section
    &__home {
        position: relative;
        text-align: center;
    } 
    
    //////////////////////////////////
    // about section
    &__about {
        height: 100vh;
        text-align: left;
        position: relative;
        &--text {
            width: 70%;
            margin: 0 auto;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, 50%);
            opacity: 0;
            transition: transform 1s ease 0.8s, opacity 1s ease-in-out 0.8s;

            &--header {
                font-size: 6rem;
                font-weight: 500;
            }
        }
    } 
    
    ////////////////////////////////////////////
    // skills section
    &__skills {
        height: 100vh;
        position: relative;

        &__heading {
            font-size: 5rem;
            position: absolute;
            top: 15%;
            left: 50%;
            transform: translate(-50%, 150%);
            opacity: 0;
            font-weight: 400;
            transition: transform 0.8s ease 0.8s, opacity .8s ease-in-out .8s;
        }
    }
    
    /////////////////////////////////////////
    // recent projects panel
    &__projects {
        height: 100vh;
        position: relative;
        font-size: 1.5rem;
        &__header {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            opacity: 0;
            transition: opacity 1s ease 0.8s;
            &--link {
                color: #fff;
                text-decoration: none;
                border: 2px solid forestgreen;
                padding: 1rem 1.4rem 1rem 2rem;
                & .icon-projects {
                    fill: #fff;
                    height: 3rem;
                    width: 3rem;
                    vertical-align: middle;
                    margin-left: 1rem;
                }
                &:hover .icon-projects {
                    animation: arrow-bounce infinite;
                    animation-duration: 0.6s;
                    animation-timing-function: ease-in-out;
                }
            }
        }
        &__background {
            position: absolute;
            height: 5rem;
            top: 50%;
            transform: translateY(-50%);
            background-color: #fafafa;
            border: 4px transparent;
            border-radius: 4px;
            visibility: hidden;
            opacity: 0;
            width: 100%;
            transition: all 0.6s ease-in-out;
            z-index: 0;
        } 
        
        //recent project 1
        &--project1 {
            position: absolute;
            top: 20%;
            left: 20%;
            transform: translate(-50%, -70%);
            width: 20rem;
            height: 20rem;
            opacity: 0;
            background-image: url(../../../assets/images/emaily/emaily-logo.svg);
            background-position: center;
            background-size: 60%;
            background-repeat: no-repeat;
            transition: transform 0.8s ease 1.6s, opacity .8s ease-in-out 1.6s;
            cursor: pointer;

            &:hover .project-text {
                transform: translateX(0px);
                visibility: visible;
                opacity: 1;
            }

            &:hover .project-link {
                opacity: 1;
                visibility: visible;
            }
        }
        &--project1:hover &__background {
            height: 100%;
            visibility: visible;
            opacity: 1;
        } 
        
        // recent project 2
        &--project2 {
            position: absolute;
            bottom: 20%;
            right: 20%;
            transform: translate(50%, 70%);
            width: 20rem;
            height: 20rem;
            opacity: 0;
            background-image: url(../../../assets/images/natours/natours-logo-w.png);
            background-position: center;
            background-size: 60%;
            background-repeat: no-repeat;
            transition:  transform 0.8s ease 1.6s, opacity .8s ease-in-out 1.6s;
            &:hover .project-text {
                transform: translateX(0px);
                visibility: visible;
                opacity: 1;
            }
            &:hover .project-link {
                opacity: 1;
                visibility: visible;
            }
        }
        &--project2:hover &__background {
            height: 100%;
            visibility: visible;
            opacity: 1;
        }
    }
}

//////////////////////////////////////////////////////////////////////
//list of skills - table
.skills-list {
    list-style: none;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    opacity: 0;
    transition: transform 0.8s ease 1.2s, opacity 0.8s ease-in-out 1.2s;

    &__item {
        display: inline-block;
        margin-right: 2rem;
        vertical-align: text-top;
    }

    &__heading {
        font-size: 7rem;
        // font-weight: 700;
        line-height: 5rem;
    }
}

//////////////////////////////////////////////////////////////////////////
//project container for text and link in recent projects
.project {
    &-text {
        display: block;
        color: #000;
        line-height: 2.5rem;
        padding: 2rem 4rem;
        line-height: 3.5rem;
        transform: translateX(-2rem);
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s ease-in-out 0.4s;
        z-index: 5000;
    }
    &-link {
        display: block;
        text-align: center;
        margin-top: 3rem;
        text-decoration: none;
        color: #000;
        border: 1px solid #0c0c0c;
        padding: 0.5rem 1rem;
        z-index: 10000;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease-in;
        &:hover {
            color: #fff;
            background-color: #000;
        }
    }
}

//heading for recents panel 
.recents-heading {
    font-size: 3.5rem;
    span {
        display: block;

        &:last-of-type {
            margin-bottom:3.4rem; 
        }
    }
}