@import "../../../sass/mixin.scss";
@import "../../../sass/variables.scss";

.main {
  width: 76%;
  margin: 0 auto;

  //////////////////////////////////////
  // header section
  &__header {
    &__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &__primary {
        text-align: center;
        line-height: 1;
        font-size: $font-primary;
        transform: translateY(150%);
        opacity: 0;
        transition: transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99) 0.8s, opacity 0.8s ease-in-out 0.8s;
      }

      &__secondary {
        font-size: $font-secondary;
        color: $color-primary;
        text-transform: uppercase;
        letter-spacing: 2rem;
        margin-right: -2rem;
        transform: translateY(150%);
        opacity: 0;
        transition: transform 1.8s cubic-bezier(0.16, 0.68, 0.43, 0.99) 0.8s, opacity 1.8s ease-in-out 0.8s;

        @include respond(phone) {
          letter-spacing: 1.6rem;
          margin-right: -1.6rem;
        }
      }

      .underline-grp {
        display: flex;
        flex-direction: row;

        .underline {
          width: 40rem;
          height: 0.2rem;
          margin: 4rem 0;

          &--white {
            background-color: $color-white;
          }

          &--grey {
            background-color: $color-primary;
          }
        }
      }
    }
  }

  //////////////////////////////////
  // about section
  &__about {
    text-align: left;
    position: relative;

    &__text {
      width: 70%;
      margin: 0 auto;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, 50%);
      opacity: 0;
      transition: transform 1s cubic-bezier(0.16, 0.68, 0.43, 0.99) 0.8s, opacity 1s ease-in-out 0.8s;
      @include respond(tabPort) {
        width: 100%;
      }
      @include respond(phone) {
        line-height: 4.2rem;
        top: 46%;
      }
      &__header {
        font-size: 6rem;
        font-weight: 500;
      }
    }
  }

  ////////////////////////////////////////////
  // skills section
  &__skills {
    position: relative;

    &__heading {
      font-size: 4.2rem;
      text-transform: capitalize;
      font-weight: 700;
      letter-spacing: 3px;
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translate(-50%, 150%);
      opacity: 0;
      transition: transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99) 0.8s, opacity 0.8s ease-in-out 0.8s;
      @include respond(phone) {
        top: 12%;
      }
    }
  }

  /////////////////////////////////////////
  // recent projects panel
  &__projects {
    height: 100vh;
    position: relative;
    font-size: 1.2rem;
    &__header {
      font-size: 4rem;
      position: relative;
      text-align: center;
      opacity: 0;
      transition: opacity 1s ease 0.8s;

      &--link {
        position: relative;
        border: 2px solid $color-primary;
        padding: 1.2rem 4.8rem 1.2rem 1.8rem;
        text-transform: uppercase;
        font-size: 1.4rem;
        letter-spacing: 1.5px;
        color: $color-white;
        text-decoration: none;

        & .icon-projects {
          position: absolute;
          top: 50%;
          fill: $color-white;
          height: 3rem;
          width: 3rem;
          vertical-align: middle;
          margin-left: 1rem;
          transform: translateY(-50%);
        }

        &:hover .icon-projects {
          animation: arrow-bounce infinite;
          animation-duration: 0.6s;
          animation-timing-function: cubic-bezier(0.16, 0.68, 0.43, 0.99);
        }
      }
    }

    &__background {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: #161616;
      visibility: hidden;
      opacity: 0;
      height: 4rem;
      width: 100%;
      transition: all 0.3s ease-in-out 0.2s;
    }

    //recent project 1
    &--project1 {
      position: absolute;
      top: 20%;
      left: 20%;
      transform: translate(-50%, -70%);
      width: 18rem;
      height: 18rem;
      opacity: 0;
      background-image: url(../../../assets/images/movierolls/movierolls.svg);
      background-position: center;
      background-size: 60%;
      background-repeat: no-repeat;
      transition: transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99) 1.6s, opacity 0.8s ease-in-out 1.6s;
      cursor: pointer;

      &:hover .project-text {
        transform: translateX(0px);
        visibility: visible;
        opacity: 1;
      }

      &:hover .project-link {
        opacity: 1;
        visibility: visible;
      }
    }

    &--project1:hover &__background {
      height: 100%;
      visibility: visible;
      opacity: 1;
    }

    // recent project 2
    &--project2 {
      position: absolute;
      bottom: 20%;
      right: 20%;
      transform: translate(50%, 70%);
      width: 18rem;
      height: 18rem;
      opacity: 0;
      background-image: url(../../../assets/images/reactChat/chat.svg);
      background-position: center;
      background-size: 60%;
      background-repeat: no-repeat;
      transition: transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99) 1.6s, opacity 0.8s ease-in-out 1.6s;
      &:hover .project-text {
        transform: translateX(0px);
        visibility: visible;
        opacity: 1;
      }
      &:hover .project-link {
        opacity: 1;
        visibility: visible;
      }
    }
    &--project2:hover &__background {
      height: 100%;
      visibility: visible;
      opacity: 1;
    }
  }
}

//////////////////////////////////////////////////////////////////////
//list of skills - table
.skills-list {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  opacity: 0;
  transition: transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99) 1.2s, opacity 0.8s ease-in-out 1.2s;
  width: auto;

  @include respond(tabPort) {
    width: 100%;
  }
  @include respond(phone) {
    line-height: 2.2;
  }

  &__item {
    display: inline-block;
    margin-right: 2rem;
    vertical-align: text-top;
  }

  &__heading {
    font-size: 7rem;
    line-height: 5rem;

    @include respond(phone) {
      font-size: 6rem;
    }
  }
}

///////////////////////////////////////////////////////////////////
//project container for text and link in recent projects
.project {
  &-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    color: $color-white;
    line-height: 3rem;
    font-weight: 400;
    padding: 2.6rem 2rem;
    transform: translateX(-2rem);
    visibility: hidden;
    opacity: 0;
    text-transform: lowercase;
    transition: all 0.2s linear 0.3s;

    h1 {
      font-weight: 400;
      padding-top: 3rem;
    }
  }

  &-link {
    display: inline-block;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-white;
    z-index: 10000;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s linear;

    .bottom {
      width: 10px;
      height: 1px;
      opacity: 0;
      backface-visibility: hidden;
      transition: all 0.25s linear;
    }

    &:hover > .bottom {
      height: 1px;
      width: 100%;
      opacity: 1;
      background: #fff;
    }
  }
}

//heading for recents panel
.recents-heading {
  font-size: 4.6rem;
  line-height: 6.4rem;
  letter-spacing: 2px;
  span {
    display: block;

    &:last-of-type {
      margin-bottom: 2rem;
    }
  }
}

// utility classes
.background-name {
  position: absolute;
  text-align: right;
  font-size: 36rem;
  text-transform: uppercase;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: -20rem;
  opacity: 0.03;
  font-weight: 700;
  span {
    display: block;
    right: 0;
    margin-top: 30rem;
  }
}

///////////////////////////////////////////
//animation keyframes
@keyframes arrow-bounce {
  0% {
    transform: translate(0, -50%);
  }
  50% {
    transform: translate(0.6rem, -50%);
  }
  100% {
    transform: translate(0, -50%);
  }
}
