.main {
  position: fixed;
  width: 76%;
  margin: 0 auto; }
  .main__home {
    position: relative;
    text-align: center; }
  .main__about {
    height: 100vh;
    text-align: left;
    position: relative; }
    .main__about--text {
      width: 70%;
      margin: 0 auto;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, 50%);
      opacity: 0;
      transition: transform 1s ease 0.8s, opacity 1s ease-in-out 0.8s; }
      .main__about--text--header {
        font-size: 6rem;
        font-weight: 500; }
  .main__skills {
    height: 100vh;
    position: relative; }
    .main__skills__heading {
      font-size: 5rem;
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translate(-50%, 150%);
      opacity: 0;
      font-weight: 400;
      transition: transform 0.8s ease 0.8s, opacity .8s ease-in-out .8s; }
  .main__projects {
    height: 100vh;
    position: relative;
    font-size: 1.5rem; }
    .main__projects__header {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      opacity: 0;
      transition: opacity 1s ease 0.8s; }
      .main__projects__header--link {
        color: #fff;
        text-decoration: none;
        border: 2px solid forestgreen;
        padding: 1rem 1.4rem 1rem 2rem; }
        .main__projects__header--link .icon-projects {
          fill: #fff;
          height: 3rem;
          width: 3rem;
          vertical-align: middle;
          margin-left: 1rem; }
        .main__projects__header--link:hover .icon-projects {
          animation: arrow-bounce infinite;
          animation-duration: 0.6s;
          animation-timing-function: ease-in-out; }
    .main__projects__background {
      position: absolute;
      height: 5rem;
      top: 50%;
      transform: translateY(-50%);
      background-color: #fafafa;
      border: 4px transparent;
      border-radius: 4px;
      visibility: hidden;
      opacity: 0;
      width: 100%;
      transition: all 0.6s ease-in-out;
      z-index: 0; }
    .main__projects--project1 {
      position: absolute;
      top: 20%;
      left: 20%;
      transform: translate(-50%, -70%);
      width: 20rem;
      height: 20rem;
      opacity: 0;
      background-image: url(../../../assets/images/emaily/emaily-logo.svg);
      background-position: center;
      background-size: 60%;
      background-repeat: no-repeat;
      transition: transform 0.8s ease 1.6s, opacity .8s ease-in-out 1.6s;
      cursor: pointer; }
      .main__projects--project1:hover .project-text {
        transform: translateX(0px);
        visibility: visible;
        opacity: 1; }
      .main__projects--project1:hover .project-link {
        opacity: 1;
        visibility: visible; }
    .main__projects--project1:hover .main__projects__background {
      height: 100%;
      visibility: visible;
      opacity: 1; }
    .main__projects--project2 {
      position: absolute;
      bottom: 20%;
      right: 20%;
      transform: translate(50%, 70%);
      width: 20rem;
      height: 20rem;
      opacity: 0;
      background-image: url(../../../assets/images/natours/natours-logo-w.png);
      background-position: center;
      background-size: 60%;
      background-repeat: no-repeat;
      transition: transform 0.8s ease 1.6s, opacity .8s ease-in-out 1.6s; }
      .main__projects--project2:hover .project-text {
        transform: translateX(0px);
        visibility: visible;
        opacity: 1; }
      .main__projects--project2:hover .project-link {
        opacity: 1;
        visibility: visible; }
    .main__projects--project2:hover .main__projects__background {
      height: 100%;
      visibility: visible;
      opacity: 1; }

.skills-list {
  list-style: none;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  opacity: 0;
  transition: transform 0.8s ease 1.2s, opacity 0.8s ease-in-out 1.2s; }
  .skills-list__item {
    display: inline-block;
    margin-right: 2rem;
    vertical-align: text-top; }
  .skills-list__heading {
    font-size: 7rem;
    line-height: 5rem; }

.project-text {
  display: block;
  color: #000;
  line-height: 2.5rem;
  padding: 2rem 4rem;
  line-height: 3.5rem;
  transform: translateX(-2rem);
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out 0.4s;
  z-index: 5000; }

.project-link {
  display: block;
  text-align: center;
  margin-top: 3rem;
  text-decoration: none;
  color: #000;
  border: 1px solid #0c0c0c;
  padding: 0.5rem 1rem;
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in; }
  .project-link:hover {
    color: #fff;
    background-color: #000; }

.recents-heading {
  font-size: 3.5rem; }
  .recents-heading span {
    display: block; }
    .recents-heading span:last-of-type {
      margin-bottom: 3.4rem; }
