.main {
  position: relative;
  width: 76%;
  margin: 0 auto; }
  .main__home {
    height: 100vh; }
  .main__about {
    height: 100vh;
    position: relative; }
    .main__about--text {
      position: absolute;
      width: 60%;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .main__skills {
    height: 100vh;
    position: relative;
    padding: 0 12.4rem; }
  .main__projects {
    height: 100vh;
    position: relative;
    font-size: 1.5rem; }
    .main__projects__header {
      position: absolute;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .main__projects__header--link-all {
        color: #fff;
        text-decoration: none;
        border: 2px solid #fff;
        padding: 1rem 1.4rem 1rem 2rem; }
        .main__projects__header--link-all .icon-projects {
          fill: #fff;
          height: 3rem;
          width: 3rem;
          vertical-align: middle;
          margin-left: 1rem; }
        .main__projects__header--link-all:hover .icon-projects {
          animation: arrow-bounce infinite;
          animation-duration: 0.6s;
          animation-timing-function: ease-in-out; }
    .main__projects--project1 {
      position: absolute;
      top: 15%;
      left: 15%;
      width: 20rem;
      height: 20rem;
      background-color: #fff; }
      .main__projects--project1:hover .project-text {
        height: 100%;
        color: #fff;
        visibility: visible;
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.6); }
      .main__projects--project1:hover .project-link {
        opacity: 1;
        visibility: visible; }
    .main__projects--project2 {
      position: absolute;
      bottom: 15%;
      right: 15%;
      width: 20rem;
      height: 20rem;
      background-color: #fff; }
      .main__projects--project2:hover .project-text {
        height: 100%;
        color: #fff;
        visibility: visible;
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.6); }
      .main__projects--project2:hover .project-link {
        opacity: 1;
        visibility: visible; }

.skills-list {
  list-style: none;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 30rem;
  -moz-column-gap: 30rem;
  column-gap: 30rem;
  width: 80%;
  margin: 0 auto; }

.project-text {
  display: block;
  position: absolute;
  background-color: transparent;
  color: transparent;
  z-index: 100;
  line-height: 2.5rem;
  bottom: 0;
  padding: 1.5rem;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s; }

.project-link {
  display: block;
  text-align: center;
  padding: 1rem 2rem;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  margin: 0 auto;
  margin-top: 2.5rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-out; }
  .project-link:hover {
    color: #000;
    background-color: #FFF; }
