@import "../../sass/mixin.scss";
@import "../../sass/variables.scss";

.project-view {
  position: relative;
  font-size: 1.8rem;
  line-height: 4rem;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
  background: #fff;
  color: #000;

  // hero - header section
  &__header {
    height: 100vh;
    position: relative;
    @include respond(tabPort) {
      height: 160vh;
    }

    @include respond(phone) {
      height: 180vh;
    }

    // header image
    &__image {
      width: 50%;
      display: inline-block;
      position: relative;
      height: 100vh;

      & img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 25rem;
      }

      @include respond(tabPort) {
        display: block;
        width: 100%;
        position: relative;
        height: 100vh;
      }
    }

    // header text
    &__text {
      display: inline-block;
      position: relative;
      width: 50%;
      height: 100vh;

      @include respond(tabPort) {
        height: 60vh;
        width: 100%;
        backface-visibility: hidden;
      }

      @include respond(phone) {
        height: 80vh;
      }

      &__content {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        padding: 8rem;
        @include respond(tabPort) {
          display: block;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
        }

        @include respond(phone) {
          padding: 2rem;
        }

        &--primary {
          font-size: 6rem;
          font-weight: 400;
          text-transform: capitalize;
          letter-spacing: 2px;
          margin-bottom: 4rem;
          line-height: 1;

          @include respond(phone) {
            font-size: 4rem;
            margin-bottom: 3rem;
          }
        }

        &--secondary {
          font-size: 1.4rem;
          margin-bottom: 1rem;
          text-transform: uppercase;
          letter-spacing: 8px;

          @include respond(phone) {
            margin-bottom: 0rem;
          }
        }

        // header action buttons -------------
        &__cta {
          @include respond(tabPort) {
            margin-left: -3rem;
          }

          &__code-link,
          &__project-link {
            position: relative;
            display: inline-block;
            margin-top: 3rem;
            text-decoration: none;

            &__arrow--1,
            &__arrow--2 {
              position: absolute;
              height: 100%;
              width: 3rem;
              left: 100%;
              overflow: hidden;
              .projects-arrow {
                position: absolute;
                left: 4px;
                height: 100%;
                width: 2.5rem;
                fill: #2b2b2b;
                transition: 0.31s cubic-bezier(0.7, 0.3, 0, 1);
              }
            }

            &__arrow--1 {
              .projects-arrow {
                transform: translateX(0);
              }
            }
            &__arrow--2 {
              .projects-arrow {
                transform: translateX(-30px);
              }
            }

            &:hover &__arrow--1 .projects-arrow {
              transform: translateX(30px);
            }

            &:hover &__arrow--2 .projects-arrow {
              transform: translateX(0);
            }

            &__text {
              text-transform: uppercase;
              font-weight: 700;
              font-size: 1.6rem;
              color: #2b2b2b;
            }
          }

          &__project-link {
            margin-left: 6rem;
          }
        }
      }
    }
  }

  // project stack
  &__stack {
    color: #fff;
    padding: 15rem;

    @include respond(phone) {
      padding: 8rem 5rem;
    }

    & h3 {
      text-transform: uppercase;
      font-size: 1.4rem;
      letter-spacing: 8px;
      color: #2b2b2b;
    }

    &--list {
      text-decoration: none;
      list-style: none;
      width: 50%;

      @include respond(tabPort) {
        width: 100%;
      }

      & li {
        font-size: 2.2rem;
        display: inline-block;

        &:not(:last-of-type) {
          margin-right: 2rem;
        }
      }
    }
  }

  // background-screenshot

  &__screenshot {
    height: 80vh;
    position: relative;

    &__background {
      position: absolute;
      width: 100%;
      height: 800px;
      top: -80px;
      left: 0;
      transform: translateZ(-1px) scale(1.5);
      z-index: -1;
    }

    @include respond(tabPort) {
      height: 100vh;
    }

    @include respond(phone) {
      top: 80px;
      transform: translateZ(-1) scale(1);
    }
  }

  // projects images
  &__summary-image {
    background-color: #f3f2f2;
    padding: 25rem 0;
    @include respond(tabPort) {
      padding: 20rem 0;
    }

    @include respond(phone) {
      padding: 12rem 0;
    }

    &:not(:first-of-type) {
      padding-top: 0;
    }

    &__shot {
      padding: 1rem;
      width: 65%;
      margin: 0 auto;
      @include respond(tabPort) {
        width: 80%;
      }

      @include respond(phone) {
        width: 95%;
      }
    }

    &__image {
      display: block;
      width: 100%;
      margin: 0 auto;
      border-radius: 0.8rem;
      box-shadow: 0.5rem 1rem 1.5rem rgba(#000, 0.1);
    }
    &__text {
      text-align: center;
      font-size: 75%;
      font-style: italic;
    }
  }

  &__navigation {
    height: 34vh;
    width: 100%;
    position: relative;

    @include respond(phone) {
      height: 26vh;
    }

    &__header {
      font-size: 5.4rem;
      color: rgba($color-white, 0.4);
      font-weight: 700;
      letter-spacing: 3.2px;
      text-transform: uppercase;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @include respond(phone) {
        display: none;
      }
    }

    &__prev,
    &__next {
      display: inline-block;
      position: absolute;
      top: 50%;
      text-decoration: none;
      height: 4rem;
      width: 3rem;
      transform: translate(0, -50%);

      &__arrow--1,
      &__arrow--2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      .projects-arrow {
        position: absolute;
        height: 100%;
        width: 2.5rem;
        fill: $color-white;
        transition: 0.31s cubic-bezier(0.7, 0.3, 0, 1);
      }

      &__text {
        position: absolute;
        top: 0;
        font-size: 1.4rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $color-white;
      }
    }

    &__prev {
      left: 12rem;

      @include respond(phone) {
        left: 4rem;
      }

      &__text {
        left: 4rem;
      }

      &__arrow--1 {
        .projects-arrow {
          transform: translateX(0);
        }
      }

      &__arrow--2 {
        .projects-arrow {
          transform: translateX(3rem);
        }
      }

      &:hover &__arrow--1 .projects-arrow {
        transform: translateX(-3rem);
      }

      &:hover &__arrow--2 .projects-arrow {
        transform: translateX(0);
      }
    }

    &__next {
      right: 12rem;

      @include respond(phone) {
        right: 4rem;
      }

      &__text {
        right: 4rem;
      }
      &__arrow--1 {
        .projects-arrow {
          transform: translateX(0);
          transition: 0.31s cubic-bezier(0.7, 0.3, 0, 1);
        }
      }

      &__arrow--2 {
        .projects-arrow {
          transform: translateX(-3rem);
          transition: 0.31s cubic-bezier(0.7, 0.3, 0, 1);
        }
      }

      &:hover &__arrow--1 .projects-arrow {
        transform: translateX(3rem);
      }

      &:hover &__arrow--2 .projects-arrow {
        transform: translateX(0);
      }
    }
  }
}

.footer {
  display: flex;
  height: 6rem;
  padding: 0 4rem;
  justify-content: space-between;
  align-items: center;

  &__name {
    margin-right: auto;
    letter-spacing: 2px;

    a {
      text-decoration: none;
      color: #000;
    }
  }

  &__links {
    &__link {
      &__icon {
        height: 2rem;
        width: 2rem;
        margin: 0 2rem;
      }

      &:hover &__icon {
        fill: currentColor;
      }
    }
  }
}

.icon-back {
  position: fixed;
  top: 4rem;
  left: 4rem;
  height: 4rem;
  width: 4rem;
  z-index: 100;
  .arrow {
    height: 100%;
    width: 100%;
    fill: #000;
  }
}
