////////////////////////////////////////////////////////////////////
//animations for sections

.fp-viewing-home .home__header__text__primary {
  transform: translateY(0);
  opacity: 1;
}
.fp-viewing-about .home__header__text__primary {
  transform: translateY(-150%);
  opacity: 0;
}
.fp-viewing-home .home__header__text__secondary {
  transform: translateY(0);
  opacity: 1;
}
.fp-viewing-about .home__header__text__secondary {
  transform: translateY(-150%);
  opacity: 0;
}
.fp-viewing-about .home__about__text {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.fp-viewing-skills .home__about__text {
  transform: translate(-50%, -150%);
  opacity: 0;
}
.fp-viewing-skills .home__skills__heading {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.fp-viewing-skills .skills-list {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.fp-viewing-recents .home__skills__heading {
  opacity: 0;
  transform: translate(-50%, -150%);
}
.fp-viewing-recents .skills-list {
  opacity: 0;
  transform: translate(-50%, -150%);
}

.fp-viewing-recents .home__projects--project1 {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.fp-viewing-recents .home__projects--project2 {
  transform: translate(50%, 50%);
  opacity: 1;
}

.fp-viewing-recents .home__projects__header {
  opacity: 1;
}
