@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Oswald");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
  *::after, *::before {
    padding: 0;
    margin: 0; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 1800px) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 1200px) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
  font-size: 1.8rem;
  line-height: 4.6rem; }

.icon-back {
  position: fixed;
  top: 3rem;
  left: 4rem;
  width: 6rem;
  height: 6rem;
  z-index: 2000; }
  .icon-back-logo {
    position: absolute;
    width: 4rem;
    height: 4rem;
    fill: #fff; }

.red {
  color: #ff2b1f;
  font-weight: 700; }

.green {
  color: #1ef36c;
  font-weight: 700; }

.back-red {
  background-color: #f01800; }

.back-violet {
  background-color: #5f27cd; }

.back-yellow {
  background-color: #f7b731; }

.back-green {
  background-color: #0047ca; }

.back-orange {
  background-color: #00ACC1; }

.back-orch {
  background-color: #f39c12; }

.bar-left {
  position: absolute;
  font-size: 2rem;
  top: 20%;
  left: 5%;
  width: 1px;
  height: 60%;
  background-color: #a8a8a8;
  opacity: 1; }
  .bar-left::before {
    content: '';
    padding: 1.5rem 0.4rem;
    background-color: #a8a8a8; }
  @media only screen and (max-width: 900px) {
    .bar-left {
      opacity: 0; } }

.heading-primary {
  font-size: 9rem;
  font-weight: 700;
  color: #e6e6e6;
  letter-spacing: 0.4rem;
  position: absolute;
  line-height: 10rem;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(150%);
  opacity: 0;
  transition: transform 0.8s ease 1.2s, opacity 0.8s ease-in-out 1.2s; }
  @media only screen and (max-width: 1200px) {
    .heading-primary {
      font-size: 7rem; } }

::selection {
  background-color: #000;
  color: #36f; }
