///////////////////////////////////////////////
// variables
$font-primary: 7.65rem;
$font-secondary: 4rem;
$base-font: 2.6rem;
$color-white: #FFF;

///////////////////////////////////////////////
// browser reset
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    &::after,
    &::before {
        padding: 0;
        margin: 0;
    }
}

//font size set 
html {
    font-size: 62.5%; //1rem = 10px   
}

body {
    font-family: 'Montserrat', sans-serif;
    color: $color-white;
    font-size: $base-font;
    line-height: 5.3rem;

}

/////////////////////////////////////////////////
// utilities
.red {
    color: #ff0000;
    font-weight: 700;
}

.green {
    color: #00ff00;
    font-weight: 700;
}

.back {
    &-cyan {
        background-color: #16b;
    }
    &-blue {
        background-color: #36f;
    }
    &-red {
        background-color: #f03;
    }
    &-purple {
        background-color: #6c37ff;
    }
    &-violet {
        background-color: #7f00ff;
    }
    &-orange {
        background-color: #ff4c0a;
    }
    &-yellow {
        background-color: #e6c718;
    }
    &-green {
        background-color: #03bb56;
    }
    &-grey {
        background-image: linear-gradient(to right bottom, #3d3d3d, #2c2c2c); // background-color: #333333;
    }
}

.bar {
    position: absolute;
    top: 20%;
    left: 5%;
    width: 1px;
    height: 60%;
    background-color: #36f;
    ::before {
        content: '';
        padding: 1rem 0.2rem;
        background-color: #36f;
        // width: 2rem;
    }
}

///////////////////////////////////////////////
//typography
//heading h1
.heading-primary {
    font-size: $font-primary;
    font-weight: 400;    
    letter-spacing: 0.4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(150%);
    opacity: 0;
    transition: transform 0.8s ease 0.8s, opacity 0.8s ease-in-out 0.8s;
}


//////////////////////////
//text selection
::selection{
    background-color: #000;
    color: #36f;
}