@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Oswald");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
  *::after, *::before {
    padding: 0;
    margin: 0; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 1800px) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 1200px) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
  font-size: 1.8rem;
  line-height: 4.6rem;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none; }

.icon-back {
  position: fixed;
  top: 3rem;
  left: 4rem;
  width: 6rem;
  height: 6rem;
  z-index: 2000; }
  .icon-back-logo {
    position: absolute;
    width: 4rem;
    height: 4rem;
    fill: #FFF; }

.red {
  color: #ff2b1f;
  font-weight: 700; }

.green {
  color: #1ef36c;
  font-weight: 700; }
