* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
  *::after, *::before {
    padding: 0;
    margin: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
  font-size: 2.2rem;
  line-height: 5.3rem; }

.red {
  color: #ff0000;
  font-weight: 700; }

.green {
  color: #00ff00;
  font-weight: 700; }

.back-cyan {
  background-color: #16b; }

.back-blue {
  background-color: #36f; }

.back-red {
  background-color: #f03; }

.back-purple {
  background-color: #6c37ff; }

.back-violet {
  background-color: #7f00ff; }

.back-orange {
  background-color: #ff4c0a; }

.back-yellow {
  background-color: #e6c718; }

.back-green {
  background-color: #03bb56; }

.back-grey {
  background-image: linear-gradient(to right bottom, #3d3d3d, #2c2c2c); }

.bar-left {
  position: absolute;
  font-size: 2rem;
  top: 20%;
  left: 5%;
  width: 1px;
  height: 60%;
  background-color: #36f;
  opacity: 0.65; }
  .bar-left::before {
    content: '';
    padding: 1.5rem 0.4rem;
    background-color: #36f; }

.heading-primary {
  font-size: 7.65rem;
  font-weight: 400;
  letter-spacing: 0.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(150%);
  opacity: 0;
  transition: transform 0.8s ease 1.2s, opacity 0.8s ease-in-out 1.2s; }

::selection {
  background-color: #000;
  color: #36f; }
