@import './sass/mixin.scss';
@import './sass/variables.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald');

///////////////////////////////////////////////
// browser reset
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: 0 !important;
  &::after,
  &::before {
    padding: 0;
    margin: 0;
  }
}

//font size set
html {
  font-size: 62.5%; //1rem = 10px
  @include respond(bigDesk) {
    font-size: 75%; //1rem= 12px
  }
  @include respond(tabLand) {
    font-size: 56.25%; // 1rem = 9px
  }
  @include respond(tabPort) {
    font-size: 50%; //1rem=8px
  }
}

body {
  font-family: 'Raleway', 'Montserrat', sans-serif;
  color: $color-white;
  font-size: $base-font;
  line-height: 4.6rem;
  letter-spacing: 1.2px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#root {
  position: relative;
}

/////////////////////////////////////////////////
// utility -classes

.arrow {
}

// .icon-back {
//   position: fixed;
//   top: 3rem;
//   left: 4rem;
//   width: 6rem;
//   height: 6rem;
//   z-index: 2000;
//   &-logo {
//     position: absolute;
//     width: 4rem;
//     height: 4rem;
//     fill: $color-white;
//   }
// }

.red {
  color: #ed403a;
  font-weight: 700;
}

.green {
  color: #16e0e7;
  font-weight: 700;
}
