.nav-toggle {
  width: 7rem;
  height: 7rem;
  border: 1.4px solid #ccc;
  border-radius: 50%;
  position: fixed;
  text-align: center;
  top: 12%;
  right: 3rem;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 1000; }
  .nav-toggle span {
    position: relative;
    margin-top: 3.5rem; }
    .nav-toggle span, .nav-toggle span::before, .nav-toggle span::after {
      width: 2.2rem;
      height: .1rem;
      background-color: #fff;
      display: inline-block;
      transition: all 0.2s; }
    .nav-toggle span::before, .nav-toggle span::after {
      content: '';
      position: absolute;
      left: 0; }
    .nav-toggle span::before {
      top: -0.6rem; }
    .nav-toggle span::after {
      top: 0.6rem; }
  .nav-toggle:hover span::before {
    top: -0.8rem; }
  .nav-toggle:hover span::after {
    top: 0.8rem; }
