@import '../../../sass/mixin.scss';

.nav-toggle {
    width: 7rem;
    height: 7rem;
    position: fixed;
    text-align: center;
    top: 12%;
    right: 3rem;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 4000;

    @include respond(tabPort) {
        top: 8rem;
        right: 0rem;
    }
    @include respond(phone) {
        top: 5rem;
    }
    & span {
        position: relative;
        margin-top: 3.5rem;
        & {
            width: 2rem;
        }
        &::before,
        &::after {
            width: 3rem;
        }
        &,
        &::before,
        &::after {
            height: .1rem;
            background-color: #fff;
            display: inline-block;
            transition: all 0.2s;
        }
        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
        }
        &::before {
            top: -1rem;
        }
        &::after {
            top: 1rem;
        }
    }

    &:hover span::before {
        left: 0.4rem;
    }
    &:hover span::after {
        left: 0.4rem;
    }
}