@import '../../../sass/mixin.scss';

.nav-toggle {
    width: 7rem;
    height: 7rem;
    border: 1.4px solid #ccc;
    border-radius: 50%;
    position: fixed;
    text-align: center;
    top: 12%;
    right: 3rem;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 1000;

    @include respond(tabPort) {
        top: 8rem;
        right: 0rem;
    }
    @include respond(phone) {
        display: none;
    }
    & span {
        position: relative;
        margin-top: 3.5rem;
        &,
        &::before,
        &::after {
            width: 2.2rem;
            height: .1rem;
            background-color: #fff;
            display: inline-block;
            transition: all 0.2s;
        }
        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
        }
        &::before {
            top: -0.6rem;
        }
        &::after {
            top: 0.6rem;
        }
    }

    &:hover span::before {
        top: -0.8rem;
    }
    &:hover span::after {
        top: 0.8rem;
    }
}