.project-full__header--image-nat {
    background-image: linear-gradient(to right bottom, rgba(#138d46, 0.2), rgba(#36aa4f, 0.2)), url(../../../assets/images/natours/natours-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    display: inline-block;
    position: absolute;
    right: 0;
    height: 100%;
}

.project-full__screenshot-nat {
    height: 80vh;
    background-image: linear-gradient(to right, rgba(white, 0.5) 0%, rgba(white, 0.2) 80%), url(../../../assets/images/natours/natours-screenshot.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}