.project-full__header--image-nat {
  background-image: linear-gradient(to right bottom, rgba(19, 141, 70, 0.2), rgba(54, 170, 79, 0.2)), url(../../../assets/images/natours/natours-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  display: inline-block;
  position: absolute;
  right: 0;
  height: 100%; }
  @media only screen and (max-width: 900px) {
    .project-full__header--image-nat {
      height: 100vh;
      width: 100%; } }

.project-full__screenshot-nat {
  height: 80vh;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.2) 80%), url(../../../assets/images/natours/natours-screenshot.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 900px) {
    .project-full__screenshot-nat {
      height: 100vh; } }
